@import "colors.css";

* {
    /* font-family: 'CaskaydiaCove Nerd Font Propo'; */
    font-family: 'JetBrainsMono Nerd Font Propo';
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
    font-weight: 500;
    background: transparent;
    font-size: 12px;
    border-radius: 15px;
    color:@fg;
}

tooltip {
    padding: 8px;
    border-radius: 15px;
    background: @tooltip-bg;
}

tooltip label {
    padding: 8px;
	font-weight: bold;
}

.popup * {
    box-shadow: none;
    outline: none;
}

#tray menu, menu {
    border-radius: 10px;
    font-weight: 500;
    color: @fg;
}

#tray menu > *, menu > * {
    padding: 3px 0px;
}

#tray menu > *:hover, menu > *:hover{
    border-radius: 10px;
    background-color: @inactive;
}

/* global paddings */
#backlight, #pulseaudio, #network, #temperature,
#bluetooth, #battery, #memory, #cpu, #load{
    padding: 2px 7px;
}

#workspaces, #bluetooth, #battery, #memory, #temperature,
#network, #pulseaudio, #backlight, #cpu, #load {
    background: transparent;
    border-radius: 15px;
    margin: 0 3px;
} 

#custom-start, #custom-logout, #gright1, #gleft1,
#gright2, #gleft2, #gright3, #custom-ctlcenter, #power-profiles-daemon,  #mpris, #backlight {
    padding: 2px 9px;
    border-radius: 15px;
    background: @module-bg;
}

#clock {
    padding: 2px 18px;
    border-radius: 15px;
    background: @module-bg;
}

/* single icons cool size  */

#gright2, #gleft2  {
    margin: 0 8px;
}

#gleft1 {
    margin: 0 0 0 8px;
}

#gright1 {
    margin: 0 8px 0 0;
}

#memory.critical, #cpu.critical,
#temperature.critical, #battery.critical,
#network.disconnected, #network.disabled {
	color: @red;
}

#memory.warning, #cpu.warning,
#temperature.warning, #battery.warning {
	color: @yellow;
}

#workspaces button {
    color: @workspace-fg;
    font-size: 14px;
    border-radius: 15px;
    margin: 0 3px;
}

#workspaces button:hover {
    background: transparent;
}

#mpris, #window {
    margin: 0 10px;
}

#mpris.paused {
    color: @inactive;
}

#mpris.stopped {
    background: transparent;
}

#custom-logout {
    color: @red;
    margin-right: 5px;
    padding: 0 12px;
}

#custom-ctlcenter {
    color: @blue;
    margin-right: 5px;
    padding: 0 12px;
}

#custom-start,
#power-profiles-daemon {
    margin-left: 5px;
    padding: 0 12px;
}

#custom-start {
    color: @blue;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.power-saver {
    color: @green;
}